<?xml version="1.0" encoding="UTF-8"?>
<web-app 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xmlns:web="http://java.sun.com/xml/ns/javaee"  
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">

  <display-name>Carnaval</display-name>
  <welcome-file-list>
    <welcome-file>ControlaAcesso</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ControlaAcesso</display-name>
    <servlet-name>ControlaAcesso</servlet-name>
    <servlet-class>controle.ControlaAcesso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControlaAcesso</servlet-name>
    <url-pattern>/ControlaAcesso</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastroEnsaio</display-name>
    <servlet-name>CadastroEnsaio</servlet-name>
    <servlet-class>controle.CadastroEnsaio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroEnsaio</servlet-name>
    <url-pattern>/CadastroEnsaio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControlaEscolaSamba</display-name>
    <servlet-name>ControlaEscolaSamba</servlet-name>
    <servlet-class>controle.ControlaEscolaSamba</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControlaEscolaSamba</servlet-name>
    <url-pattern>/ControlaEscolaSamba</url-pattern>
  </servlet-mapping>
</web-app>